

.profile{
    position: absolute;
    top: 12px;
    left: 1288px;
    width: 114px;
    height: 32.43px;
    background: rgba(76, 49, 167, 0.580583);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0vw;
   
} 

.prog{
    position: fixed;
    top: 10%;
    left: 45%;
    width: 50%;
    height: 80%;
}

.para{
    /* Work in progress! This website is still under progress. Come back later for more features. For any queries, please contact with the above */
position: fixed;
top: 10%;
left: 4%;
width: 50%;
height: 80%;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 61px;
display: flex;
align-items: center;

color: #000000;


}