.navigation-bar{
    position: absolute;
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, #4169E1 0%, rgba(125, 97, 216, 0.580583) 100%);
}

.navigation-button1{
    position: absolute;
    width: 9%;
    height: 50%;
    left: 6%;
    top: 20%;
    background: rgba(76, 49, 167, 0.580583);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0vw;
}

.bar1{
    position: absolute;
    width: 1.5%;
    height: 0%;
    left: 17%;
    top: 45%;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.navigation-button2{
    position: absolute;
    width: 9%;
    height: 50%;
    left: 20%;
    top: 20%;
    background: rgba(76, 49, 167, 0.580583);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0vw;
}

.bar2{
    position: absolute;
    width: 1.5%;
    height: 0%;
    left: 31%;
    top: 45%;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.navigation-button3{
    position: absolute;
    width: 9%;
    height: 50%;
    left: 34.2%;
    top: 20%;
    background: rgba(76, 49, 167, 0.580583);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0vw;
}

.bar3{
    position: absolute;
    width: 1.5%;
    height: 0%;
    left: 45.2%;
    top: 45%;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.navigation-button4{
    position: absolute;
    width: 9%;
    height: 50%;
    left: 48.2%;
    top: 20%;
    background: rgba(76, 49, 167, 0.580583);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0vw;
}

.profile{
    position: absolute;
    top: 12px;
    left: 1288px;
    width: 114px;
    height: 32.43px;
    background: rgba(76, 49, 167, 0.580583);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0vw;
   
} 

.prog{
    position: fixed;
    top: 10%;
    left: 45%;
    width: 50%;
    height: 80%;
}

.para{
    /* Work in progress! This website is still under progress. Come back later for more features. For any queries, please contact with the above */
position: fixed;
top: 10%;
left: 4%;
width: 50%;
height: 80%;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 61px;
display: flex;
align-items: center;

color: #000000;


}