@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(0, 0, 0, 0.12);
  --color-gray-200: rgba(0, 0, 0, 0.32);
  --color-indigo: rgba(76, 49, 167, 0.58);

  /* border radiuses */
  --br-xl: 20px;
  --br-41xl: 60px;
}
